#
# reference mods
#

# Chinese++
# https://steamcommunity.com/sharedfiles/filedetails/?id=1418746242
workshop-1418746242/
# Chinese font
# https://steamcommunity.com/sharedfiles/filedetails/?id=1947686229
workshop-1947686229/
# Clear type Chinese fonts
# https://steamcommunity.com/sharedfiles/filedetails/?id=678340265
workshop-678340265/

# local properties
.user.config
